*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: url("nattu-adnan-atSUvc1hMwk-unsplash.jpg") no-repeat center;
  width:100vw;
  height:100vh;
  font-family: 'Roboto';
  
  .box{
    background-color: rgba(0, 0, 0, 0.541);
    width: 650px;
    height: 400px;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    border-radius: 15px;
    box-shadow:7px 7px 20px rgba(0, 0, 0, 0.363);
    h1{
      color:rgb(235, 235, 235);
      text-align: center;
      padding:20px;
    }
    .inbox{
      padding:17px 35px;
      position: relative;
      input{
        width:100%;
        height: 50px;
        border:none;
        outline: none;
        background-color: transparent;
        border-bottom:1px solid #54c3d4;
        font-size:25px;
        color:rgb(17, 17, 17);
        &:focus~label,&:valid~label{
          top:0;
          font-size:17px;
          color:#54c3d4;
        }
      }
      label{
        font-size: 23px;
        color:rgb(235, 235, 235);
        position: absolute;
        top:25px;
        left:35px;        
        transition:0.5s;

      }
    }
    input[type="submit"]{
      margin:17px 35px;
      width:90px;
      height:45px;
      border-radius: 10px;
      outline: none;
      border:none;
      background-color:#0082d8;
      cursor:pointer;
      color:rgb(235, 235, 235);
      font-size:16px;
      transition:0.2s;
      &:hover{
        font-size:17px;
        box-shadow:2px 2px 5px #2e2e2e4f;
        width:92px;
        height:47px;
      }
    }

  }
}