* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

$red-color: #e50914;
$border-gray: 8px solid #222222;

body {
  .container {
    // header---------------------------------------------------
    header {
      height: 825px;
      background: url(./images/bg.jpg) no-repeat center / cover;
      position: relative;
      z-index: 0;
      border-bottom: $border-gray;
      &:after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.8) 0,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.8) 100%
          ),
          linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%);
        z-index: 0;
      }
      .header-container {
        max-width: 1920px;
        margin: 0 auto;
        position: relative;
        height: 100%;
        z-index: 1;
        nav {
          position: relative;
          display: flex;
          justify-content: space-between;
          height: 100px;
          .logo {
            height: 100%;
            margin-left: 30px;
            img {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              height: 120%;
            }
          }
          button {
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            height: 35px;
            width: 80px;
            color: white;
            background-color: $red-color;
            outline: none;
            border: none;
            border-radius: 4px;
            font-size: 0.8rem;
            cursor: pointer;
          }
        }
        .contents {
          width: 100%;
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translateX(-50%);
          color: white;
          text-align: center;
          h1 {
            font-size: 3.2rem;
            width: 600px;
            margin: 0 auto;
          }
          h3 {
            font-weight: 500;
            font-size: 1.3rem;
            padding: 20px 0;
          }
          h4 {
            font-weight: 500;
            font-size: 0.9rem;
            padding-bottom: 20px;
          }
          .inputText {
            max-width: 800px;
            height: 68px;
            margin: 0 auto;
            position: relative;
            .text {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              border: none;
              outline: none;
              font-size: 1rem;
            }
            .submit {
              position: absolute;
              top: 0;
              right: 0;
              height: 100%;
              width: 35%;
              border: none;
              outline: none;
              background: $red-color;
              color: white;
              font-size: 1.4rem;
              cursor: pointer;
            }
          }
          p {
            font-weight: 500;
            font-size: 0.9rem;
            padding-top: 30px;
          }
        }
      }
    }
    // end of header---------------------------------------
    // section1--------------------------------------------
    @mixin section-devide {
      max-width: 1080px;
      margin: 0 auto;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 40px;
    }
    @mixin h1-size {
      font-size: 2.5rem;
      padding-bottom: 20px;
    }
    @mixin p-size {
      font-size: 1.3rem;
      letter-spacing: 0.2px;
    }
    .section1 {
      height: 470px;
      background-color: black;
      border-bottom: $border-gray;
      .section1-container {
        @include section-devide();
        color: white;
        .left {
          margin-right: 110px;
          width: 475px;
          h1 {
            @include h1-size();
          }
          p {
            @include p-size();
          }
        }
        .right {
          max-width: 510px;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    // end of section1---------------------------------------
    // section2--------------------------------------------
    .section2 {
      height: 470px;
      background-color: black;
      border-bottom: $border-gray;
      .section2-container {
        @include section-devide();
        color: white;
        .left {
          margin-right: 110px;
          max-width: 470px;
          img {
            width: 100%;
          }
        }
        .right {
          width: 480px;
          h1 {
            @include h1-size();
          }
          p {
            @include p-size();
          }
        }
      }
    }
    // end of section2---------------------------------------
    // section3--------------------------------------------
    .section3 {
      height: 470px;
      background-color: black;
      border-bottom: $border-gray;
      .section3-container {
        @include section-devide();
        color: white;
        .left {
          width: 470px;
          h1 {
            @include h1-size();
          }
          p {
            @include p-size();
          }
        }
        .right {
          max-width: 510px;
          img {
            width: 100%;
          }
        }
      }
    }
    // end of section3---------------------------------------
    // question--------------------------------------------
    @mixin question-top {
      background-color: #303030;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 30px;
      border-bottom: 1px solid black;
      font-size: 1.3rem;
    }
    @mixin question-bottom {
      background-color: #303030;
      padding: 40px 30px;
      font-size: 1.3rem;
    }

    .question {
      background-color: black;
      border-bottom: $border-gray;
      color: white;
      padding: 70px 0;
      .question-container {
        max-width: 1080px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
          @include h1-size();
        }
        .question-list {
          margin: 40px 0;
          width: 840px;
          .question-box {
            margin-bottom: 8px;
            .top {
              @include question-top();
              i {
                transform: rotate(0deg);
                transition: 0.3s ease transform;
                &.active {
                  transform: rotate(45deg);
                  transition: 0.3s ease transform;
                }
              }
            }
            .bottom {
              @include question-bottom();
              display: none;
              p {
                margin-bottom: 40px;
                &:last-child {
                  margin-bottom: 0;
                }
              }
              &.show {
                display: block;
              }
            }
          }
        }
        .inputText {
          width: 800px;
          height: 68px;
          margin: 20px auto;
          position: relative;
          .text {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 65%;
            border: none;
            outline: none;
            font-size: 1rem;
          }
          .submit {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 35%;
            border: none;
            outline: none;
            background: $red-color;
            color: white;
            font-size: 1.4rem;
            cursor: pointer;
          }
        }
      }
    }
    // end of question---------------------------------------
    // footer--------------------------------------------
    $footer-gray: rgb(97, 97, 97);
    footer {
      background-color: black;
      color: $footer-gray;
      .footer-container {
        max-width: 1080px;
        margin: 0 auto;
        padding: 60px 50px 0;
        h5 {
          font-size: 0.8rem;
          a {
            color: $footer-gray;
          }
        }
        .footer-link-list {
          display: flex;
          align-items: top;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: 30px 0 20px;
          max-width: 700px;
          li {
            display: flex;
            flex-direction: column;
            a {
              color: $footer-gray;
              font-size: 0.65rem;
              margin-bottom: 17px;
            }
          }
        }
        select {
          background-color: black;
          color: rgb(163, 163, 163);
          padding: 15px 20px;
          font-size: 0.8rem;
        }
        .country {
          display: block;
          margin: 20px 0;
          font-size: 0.65rem;
        }
        .location {
          display: flex;
          flex-direction: column;
          padding-bottom: 40px;
          span {
            font-size: 0.6rem;
            a {
              color: $footer-gray;
            }
          }
        }
      }
    }
  }
}

// media query-----------------------------------------------

$breakepoint-smalldesktop: 1442px;
// smalldesktop ---------------------------------------------------
@media (max-width: $breakepoint-smalldesktop) {
  body {
    .container {
      header {
        height: 800px;
        .header-container {
          nav {
            .logo {
              img {
                height: 100%;
              }
            }
          }
          .contents {
            h1 {
              font-size: 2.5rem;
              width: 450px;
            }
            h3 {
              margin: 0 auto;
              width: 55%;
            }
            .inputText {
              max-width: 680px;
              height: 60px;
              .text {
                font-size: 0.8rem;
              }
              .submit {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
      // end-of-header--------------------------------------------------
      .question {
        .question-container {
          .question-list {
            width: 800px;
          }
          .question-box {
            .top {
              p {
                margin-right: 50px;
              }
            }
          }
          .inputText {
            max-width: 680px;
            height: 60px;
            .text {
              font-size: 0.8rem;
            }
            .submit {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}
// end-of-smalldesktop--------------------------------------------------
// tabelet ---------------------------------------------------
$breakepoint-tablet: 949px;
@media (max-width: $breakepoint-tablet) {
  body {
    .container {
      header {
        .header-container {
          nav {
            .logo {
              img {
                height: 80%;
              }
            }
          }
          .contents {
            top: 25%;
            h4 {
              font-size: 1.1rem;
              width: 380px;
              margin: 0 auto;
            }
            .inputText {
              max-width: 680px;
              display: flex;
              flex-direction: column;
              align-items: center;
              .text {
                position: initial;
                display: inline-block;
                width: 90%;
                padding: 30px 0;
              }
              .submit {
                position: initial;
                margin-top: 15px;
                width: 150px;
                padding: 10px 0;
                font-size: 0.8rem;
              }
            }
            p {
              margin-top: 40px;
            }
          }
        }
      }
      .section1 {
        height: auto;
        padding: 70px 0;
        .section1-container {
          flex-direction: column;
          width: 100%;
          .left {
            width: 70%;
            margin: 0 auto;
            text-align: center;
            h1 {
              font-size: 2rem;
            }
            p {
              font-size: 1rem;
            }
          }
          .right {
            max-width: 550px;
            img {
              margin-top: -4px;
            }
          }
        }
      }
      .section2 {
        height: auto;
        padding: 70px 0;
        .section2-container {
          flex-direction: column-reverse;
          width: 100%;
          .left {
            margin-right: 0;
            margin-top: -25px;
            max-width: 570px;
          }
          .right {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            h1 {
              font-size: 2rem;
            }
            p {
              font-size: 1rem;
            }
          }
        }
      }
      .section3 {
        height: auto;
        padding: 70px 0;
        .section3-container {
          flex-direction: column;
          width: 100%;
          .left {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            h1 {
              font-size: 2rem;
            }
            p {
              font-size: 1rem;
            }
          }
          .right {
            max-width: 550px;
            img {
              margin-top: -4px;
            }
          }
        }
      }
      .question {
        .question-container {
          h1 {
            font-size: 2rem;
            padding-bottom: 0px;
          }
          .question-list {
            max-width: 900px;
            width: 80%;
            .question-box {
              .top {
                font-size: 1rem;
              }
            }
          }
          .ready {
            max-width: 400px;
            font-size: 1.2rem;
            text-align: center;
          }
          .inputText {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .text {
              width: 90%;
              position: initial;
              display: inline-block;
              padding: 30px 0;
            }
            .submit {
              position: initial;
              margin-top: 15px;
              width: 150px;
              padding: 10px 0;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
// end-of-tabelet--------------------------------------------------
// phone ---------------------------------------------------
$breakepoint-phone: 739px;
@media (max-width: $breakepoint-phone) {
  body {
    .container {
      header {
        .header-container {
          .contents {
            h3 {
              width: 90%;
            }
            h4 {
              font-size: 0.9rem;
            }
            .inputText {
              .text {
                padding: 15px 0;
                width: 80%;
              }
            }
            p {
              font-size: 0.8rem;
            }
          }
        }
      }
      .section1 {
        .section1-container {
          .left {
            width: 95%;
          }
        }
      }
      .section2 {
        .section2-container {
          .right {
            width: 90%;
          }
        }
      }
      .section3 {
        .section3-container {
          .left {
            h1 {
              width: 70%;
              margin: 0 auto;
            }
          }
        }
      }
      .question {
        .question-container {
          .ready {
            font-size: 0.9rem;
            margin-top: -15px;
          }
          .inputText {
            .text {
              width: 80%;
            }
          }
        }
      }
    }
  }
}
// end-of-phone--------------------------------------------------
// small-phone ---------------------------------------------------
$breakepoint-smallphone: 549px;
@media (max-width: $breakepoint-smallphone) {
  body {
    .container {
      header {
        height: 550px;
        .header-container {
          nav {
            height: 80px;
            .logo {
              img {
                height: 80%;
              }
            }
            button {
              height: 30px;
              width: 60px;
              font-size: 0.7rem;
            }
          }
          .contents {
            h1 {
              font-size: 1.5rem;
            }
            h3 {
              font-size: 0.9rem;
            }
            p {
              font-size: 0.7rem;
            }
          }
        }
      }
      .section1 {
        padding: 40px 0;
        .section1-container {
          padding: 0 20px;
          .left {
            h1 {
              font-size: 1.3rem;
            }
            p {
              font-size: 0.9rem;
            }
          }
          .right {
            margin-top: 10px;
          }
        }
      }
      .section2 {
        padding: 40px 0;
        .section2-container {
          padding: 0 20px;
          .left {
          }
          .right {
            h1 {
              font-size: 1.3rem;
            }
            p {
              font-size: 0.9rem;
            }
          }
        }
      }
      .section3 {
        padding: 40px 0;
        .section3-container {
          padding: 0 20px;
          .left {
            h1 {
              font-size: 1.3rem;
              width: 100%;
            }
            p {
              font-size: 0.9rem;
              width: 90%;
              margin: 0 auto;
            }
          }
          .right {
            margin-top: 10px;
          }
        }
      }
      .question {
        padding: 40px 0;
        .question-container {
          h1 {
            font-size: 1.3rem;
          }
          .question-list {
            margin-top: 20px;
            width: 100%;
            .question-box {
              .top {
                font-size: 0.9rem;
                padding: 15px 20px;
                letter-spacing: -0.6px;
              }
              .bottom {
                padding: 15px 20px;
                p {
                  font-size: 0.9rem;
                  letter-spacing: -0.6px;
                }
              }
            }
          }
          .inputText {
            .text {
              width: 90%;
              padding: 15px 0;
            }
          }
        }
      }
    }
  }
}
